<%= render_layout "body" do %>
  <main class="mx-auto max-w-fit grid grid-flow-row auto-rows-max gap-x-20 gap-y-32 m-32">
    <header class="col-start-2">
      <h1 class="text-5xl font-bold"><%= current_page.data["title"] %></h1>
      <% if subtitle = current_page.data["subtitle"] %>
        <h2 class="text-2xl opacity-50"><%= subtitle %></h2>
      <% end %>
    </header>
    <div class="sticky top-20">
      <nav class="flex flex-col space-y-8 h-full">
        <%= partial "partials/menu", title: "Getting Started", glob: "getting-started/*.html*" %>
        <%= partial "partials/menu", title: "Documentation", glob: "basics/*.html*" %>
        <%= partial "partials/menu", title: "Project", glob: "project/*.html*" %>
      </nav>
    </div>
    <article class="prose dark:prose-invert">
      <%= yield %>
    </article>
    <footer class="col-span-1">
      <%= link_to "/", class: "block" do %>
        <%= image_tag "logo-brown.svg", class: "max-w-[8rem] block dark:hidden" %>
        <%= image_tag "logo-white.svg", class: "max-w-[8rem] hidden dark:block" %>
      <% end %>
      <% PrimaryPage.all.each do |page| %>
        <%= link_to page.title, page.request_path %>
      <% end %>
    </footer>
  </main>
<% end %>
