<%= render_layout "body" do %>
  <div class="max-w-2xl md:mx-auto flex flex-col">
    <header class="my-20">
      <h1>
        <div class="text-3xl font-bold">Sitepress</div>
      </h1>
      <% if subtitle = current_page.data["subtitle"] %>
        <h2 class="text-2xl opacity-50"><%= subtitle %></h2>
      <% end %>
      <%=link_to "Get started on Rails", class: "p-4 rounded" %>
    </header>
    <main class="flex flex-row space-x-16">
      <nav class="flex flex-col space-y-8 h-full sticky top-20">
        <%= partial "partials/menu", title: "Getting Started", glob: "getting-started/*.html*" %>
        <%= partial "partials/menu", title: "Documentation", glob: "basics/*.html*" %>
        <%= partial "partials/menu", title: "Project", glob: "project/*.html*" %>
      </nav>
      <article class="prose dark:prose-invert">
        <h1><%= current_page.data.fetch("title") %></h1>
        <%= yield %>
      </article>
    </main>
    <footer>
      <% PrimaryPage.all.each do |page| %>
        <%= link_to page.title, page.request_path %>
      <% end %>
    </footer>
  </div>
<% end %>
